<h1>Travel Radi.us</h1>

<p> 
<% if origin_set? %>
  Origin Location: 
  <b><%= @origin %></b>
  <%= link_to "Reset Origin Location", origins_path, method: :delete %>
<%else%>
  <%=render 'shared/origin_form' %>
<%end%>
</p>

<p> 
<%=render 'shared/destinations_form' %>
</p>

<% if destinations_set? %>
  <%=render 'shared/destinations_list' %>
<%end%>






