<ul class = "list-group list-group-flush">
  <% @destinations.each do |id, destination_info| %>
  
       <li class = "list-group-item">
       	  <%= fa_icon "map-marker" %> 
       	  <%= destination_info["address"]%> | <%=destination_info[:distance] %> | <%=destination_info[:time] %>
       	  <%= link_to (fa_icon "trash"), destinations_path(id: id), method: :delete, class: "btn btn-sm btn-danger"%> 
       </li>
       
            	     
  <%end%>
</ul>